/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    overflow: hidden;
}

.container {
    display: flex;
}

/* Sidebar Styles */
.sidebar {
    width: 20%;
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100vh;
}

.logo {
    font-size: 24px;
    margin-bottom: 20px;
}

.filter {
    margin-bottom: 10px;
}

.website-link {
    margin-top: auto;
    font-size: 18px;
    margin-top: 20px;
}

.website-link a {
    color: white;
    text-decoration: none;
}

/* Main Content Styles */
.main-content {
    width: 80%;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: lightgrey;
    padding: 1%;
}

.search-bar {
    width: 60%;
    padding: 10px;
    font-size: 16px;
}

.user-profile {
    font-size: 18px;
    color: #333;
}

/* Filter Buttons */
.filters {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.filter-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: #555;
}

/* Classes Grid */
.class-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.class-card {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
}
