/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    height: 100%
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em; /* Adjust size as needed */
    color: purple; /* Adjust color as needed */
  }
  
  .checked {
    color: orange;
  }

  .title-part {
    margin: 0 5px; /* Adjust spacing as needed */
  }
  
  .separator {
    margin: 0 5px; /* Adjust spacing as needed */
  }
  
/* Sidebar Styles */
.sidebar {
    width: 5vw;
    background-color: #333;
    color: white;
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100vh;
}

.logo {
    font-size: 24px;
    margin-bottom: 20px;
}

.website-link {
    margin-top: auto;
    font-size: 18px;
    margin-top: 20px;
}

.website-link a {
    color: white;
    text-decoration: none;
}

/* Main Content Styles */
.main-content {
    width: 95vw;
}

.full-width-header {
    display: flex;
    justify-content: center; /* Centers horizontally */
    height: 100vh;          /* Full viewport height for vertical centering */
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    padding: 1%;
    width: 100%;
    height: 7.5vh;
    text-align: center;
}

.profile {
  height: 100%;
}

.search-bar {
    width: 100%;
    height: 2.5vh ;
    margin-right: 1%;
    font-size: 2vh;
}


/* Filter Buttons */
.filters {
    width: 95vw;
    height: 5vh;
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;
}

.filterSelect {
  width: 9%;
  text-align: center;
}
/* Classes Grid */
.class-grid {
    padding: 0 2vw 0 2vw;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2vw;
    row-gap: 3vh;
    height: 85vh;
    width: 95vw;
}

.class-card {
    display: grid;
    grid-template-columns: auto auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 30vh;
    width: 24vw;
    border: 1px solid black;
}

.class-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
}
.long {
  grid-column: 1 / span 2;
  height: 9vh;
}
.small {
  display: flex;
  height: 12vh;
  width: 12vw;
}
.bigNumber {
  font-size: 200%;
}
.cName {
  font-size: 225%;
}
.cDes {
  font-size: 100%;
}